{% comment %}
  Renders a list of product tiles as per the configured products.
{% endcomment %}

{% if section.settings.selected_products != blank %}
  <section>
    <h2 class="mb-8 text-4xl font-bold capitalize">{{ 'products.featured' | t }}</h2>
    <div class="flex gap-8">
      {% for product in section.settings.selected_products %}
        {% render 'product-tile', product: product %}
      {% endfor %}
    </div>
  </section>
{% endif %}


{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "product_list",
      "id": "selected_products",
      "label": "Choose products"
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
